
<div class="inner-content">
  <h4 nz-typography>Users</h4>
    <nz-table nzShowPagination
              [nzData]="users" 
              [nzBordered]="true"
              [nzOuterBordered]="true"
              [nzPageSize]="6" 
              [nzHideOnSinglePage]="true"
              (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
              data-cy="users-table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of currentPageData; ">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>
