.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

nz-layout {
    width: 100vw;
    height: 100vh;
}
    
nz-menu {
    line-height: 64px;
}

.menu-item {
    float: right;

}

nz-content {
    padding: 0 50px;
    padding-top: 3vh;
    height: 70vh;
    background: silver;
}

nz-footer {
    text-align: center;
    background-color: silver;
}


.inner-content {
    background: #fff;
    padding: 24px;
    height: 95%;
    width: 70%;
    margin-left: 15%;
    background: white;
    text-align: center;
}