nz-layout {
    width: 100vw;
    height: 100vh;
}
    
nz-menu {
    line-height: 64px;
}

.menu-item {
    float: right;
}

nz-content {
    padding: 0 50px;
    padding-top: 3vh;
    height: 70vh;
    background: white;
}


.inner-content {
    padding: 24px;
    height: 95%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}